<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'assets\bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets\style.css'%}">

    <title>Issue Medicine</title>
    <style type="text/css">
      body{overflow: hidden;}
    </style>
  </head>
  <body class="bg-custom">
   <!--navbar-->


   <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border border-light border-top-0 border-left-0 border-right-0">
    <a class="navbar-brand" href="{% url 'landingPage' %}"><img src="img/icon.png" width="30" height="30" class="d-inline-block" alt="">
 ABC Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


    <!--navbar ends-->
<!--tempcode-->

     <span id="qwe" style="visibility: hidden; height: 0px;">{{patientDetails.patientId}}</span>
   

<!--tempcode-->




<div class="container-fluid bg-light bg-custom-1" style="width: 100%; padding-bottom: 10%; height: 100vh; overflow: auto; text-align: center; overflow: auto;">
  <h1>Patient Billing</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Name</th>
      <th scope="col">SSN</th>
      <th scope="col">Room Type</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for key, value in patientDetails.items %}
      <th scope="col">{{value}}</th>
      {%endfor%}   
  </tbody>
</table>


<!--pharmacy-->

<br><hr>
<h3>Medicine Issued</h3>
 <table class="table table-striped">
  <thead>

    <tr>
      <th scope="col">Medicine</th>
      <th scope="col">Quantity</th>
      <th scope="col">Rate (Rs)</th>
      <th scope="col">Amount (Rs)</th>
   
    </tr>
  </thead>
  <tbody id="tbibody">
    {% for meds in medicine %}
    <tr>
      {%for rec in meds%}
      <td>{{rec}}</td>
        {% endfor %}
    </tr>
    {%endfor%}
  </tbody>
</table>
<br>



<hr>

<h1>Add Medicines</h1>
<pre>Medicine Name : <input type="text" name="" id="medlist"></pre>
<pre>Quantity : <select name="quans" id="quans" style="width: 20%;">
  
</select></pre>
<button type="button" class="btn btn-primary" onclick="addtotabletemp()" style="margin-bottom: 60px !important ;">Add</button>

<br><hr>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="{%static 'assets\bootstrap.min.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

<script type="text/javascript">
  var tags=[];
  var quan=[];
  var medid=[];
  var pricet=[];
   function myFunction(){
      
          $.ajax({
         type: "POST",
        cache: false,
         url: "getmedlist/",
         datatype: "html",
         data :"",
        
         success: function(result) {
          var data=JSON.parse(result)
          var size=data['len'];
          for(var i=0;i<size;i++)
          {
            console.log(data[i][0]);
            tags.push(data[i][0]);
            medid.push(data[i][1]);
            quan.push(data[i][2]);
            pricet.push(data[i][3]);

          }
          console.log(pricet);


           $( "#medlist" ).autocomplete({ 
      source: tags 
  
    }); 
    

    

    }

     });

      }



window.onload = myFunction;


$( "#medlist" ).change(function() {
  $('#quans').empty();
var value=document.getElementById('medlist').value;
  var index=tags.indexOf(value);
  for(var j=0;j<=quan[index];j++){
    $('#quans').append($('<option>', { 
        value: j,
        text : j,
    }));

}

});

  
function addtotabletemp() {
  var value=document.getElementById('medlist').value;
  var index1=tags.indexOf(value);
  console.log(index1);
  var quantity=$('#quans').children("option:selected").val();
  var price=pricet[index1];
  var amount=price*quantity;
  var mid=medid[index1];
  var pid1=document.getElementById('qwe').innerHTML;


        $.ajax({
         type: "POST",
        cache: false,
         url: "",
         datatype: "html",
         data :{pid: pid1, medid: mid, qty:quantity},
        
         success: function(result) {
          if(result=='success'){
  $('#tbibody').append('<tr><td>'+value+'</td><td>'+quantity+'</td><td>'+price+'</td><td>'+amount+'</td></tr>');
}
else{alert("Failed to add.");}
    

    }

     });


}  

</script>

  </body>
</html>