
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets\bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets\style.css'%}">
    <title>Add User</title>
  </head>
  <body class="bg-custom text-light">
    <!--navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border border-light border-top-0 border-left-0 border-right-0">
      <a class="navbar-brand" href="{% url 'landingPage' %}"><img src="img/icon.png" width="30" height="30" class="d-inline-block" alt="">
   ABC Hospital</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </nav>

    <!--nav ends here-->


    <!--form-->

<div class="container bg-custom-1 bg-light" style="height: 83vh; width: 60%; margin-top: 10vh; padding: 3%;" >
  <h2 style="margin-bottom: 15px !important;">Enter Patient details</h2> 

<form id="myform"  action = "{% url 'deskexecutive:addPatient' %}" method="POST">
  {% csrf_token %}
  <div class="form-group row">
    <label for="ssnid" class="col-sm-2 col-form-label">SSN-ID</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="ssnid" name="ssnid" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="Age" class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="Age" name="age" required>
    </div>
  </div>


  <div class="form-group row">
    <label for="City" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="City" name="city" required>
    </div>
  </div>


  <div class="form-group row">
    <label for="State" class="col-sm-2 col-form-label">State</label>
    <div class="col-sm-10">
      <select id="inputState" class="form-control" name="state" required>
        <option selected>Select One..</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
      </select>

    </div>
  </div>



  <div class="form-group row">
    <label for="Address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Address" name="adrs" required>
    </div>
  </div>








    <div class="form-group row">
    <label for="Type" class="col-sm-2 col-form-label">Room Type</label>
    <div class="col-sm-10">
      
          <select id="inputState" name ="roomtype" class="form-control">
        <option selected>General Ward</option>
        <option>Semi-Sharing</option>
        <option>Single Room</option>
      </select>


    </div>
  </div>



  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="Add Patient" class="btn btn-dark" id="submit" style="margin: 10px !important;">Submit</button>
    </div>
  </div>
</form>









</div>
    <!--form ends-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{%static 'assets\bootstrap.min.js'%}"></script>
    <script type="text/javascript">
      

    </script>
  </body>
</html>